body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  background-color: rgb(91, 92, 89);
}

#mainReport {
  background-image: url("sky1.jpg");
  background-size: cover;
  background-position: center bottom;
}

#description::first-letter {
  text-transform: capitalize;
}

#weatherforecast {
  background-color: whitesmoke;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  margin: 1px auto;
}

h1 {
  color: black;
}

.location {
  text-align: left;
}
#tempNow {
  font-size: 80px;
  text-align: right;
  font-weight: 900;
  padding-right: 0;
}
.WeatherDetails {
  text-align: center;
  line-height: 40px;
  font-weight: 600;
}
#mrdeg {
  font-size: small;
}
h6,
p {
  text-align: center;
}
.day {
  text-align: left;
}
.highTemp {
  font-weight: bold;
}
#icon {
  font-size: 80px;
  line-height: 48px;
}
.wtdetail {
  font-size: 18px;
  color: rgb(117, 30, 15);
}
.wtmeasure {
  font-size: 15px;
  font-weight: bold;
}
#hourlyforecast,
#weeklyforecast {
  height: 300px;
}
