body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  background-color: rgba(132, 148, 237, 0.356);
}
#report {
  margin-top: 50px;
  height: auto;
  padding: 30px;
  background-color: rgba(108, 137, 215, 0.229);
  border-radius: 10px;
  border: 2px solid black;
}
#search {
  padding: 20px;
}
#location-img-btn {
  width: 20px;
  height: 22px;
}

h1 {
  padding: 10px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  margin: 1px auto;
  color: black;
}
h6,
p {
  text-align: center;
}
#tempNow {
  font-size: 80px;
  text-align: center;
  font-weight: 900;
  padding: 10px;
  margin: 10px;
}
#description::first-letter {
  text-transform: capitalize;
}

#forecast {
  text-align: center;
  margin: 15rem;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  border-top: 2px dashed black;
}

@media only screen and (max-width: 420px) {
  .seperationLine {
    margin: auto;
  }
  #forecast {
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
}
